<<<<<<< Updated upstream
                    <style>body {
                        margin: 0;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    .topnav {
                        overflow: hidden;
                        background-color: #333;
                    }
                    
                    .topnav a {
                        float: left;
                        display: block;
                        color: #f2f2f2;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 17px;
                    }
                    
                    .topnav a:hover {
                        background-color: #ddd;
                        color: black;
                    }
                    
                    .topnav a.active {
                        background-color: #4CAF50;
                        color: white;
                    }
                    
                    .topnav .icon {
                        display: none;
                    }
                    
                    @media screen and (max-width: 600px) {
                        .topnav a:not(:first-child) {
                            display: none;
                        }
                        .topnav a.icon {
                            float: right;
                            display: block;
                        }
                    }
                    
                    @media screen and (max-width: 600px) {
                        .topnav.responsive {
                            position: relative;
                        }
                        .topnav.responsive .icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        .topnav.responsive a {
                            float: none;
                            display: block;
                            text-align: left;
                        }
                    }
                    
                    </style>video {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        min-width: 100%;
                        min-height: 100%;
                        width: auto;
                        height: auto;
                        z-index: -100;
                        transform: translateX(-50%) translateY(-50%);
                    }
                    
                    .jumbotron {
                        padding-top: 30px;
                        padding-bottom: 40px;
                        padding-left: 30px;
                        margin-bottom: 40px;
                        color: inherit;
                        background-color: rgba(255, 255, 255, 0.77);
                    }
                    
                    .jumbotron2 {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        color: inherit;
                        background-color: rgba(0, 0, 0, 0.77);
                    }
                    
                    .jumbotron3 {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        margin-bottom: 30px;
                        color: inherit;
                        background-color: rgb(255, 255, 255);
                    }
                    
                    .jumbotron4 {
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 100px;
                        padding-bottom: 100px;
                        margin-bottom: 0px;
                        color: inherit;
                        background-color: rgba(0, 0, 0, 0.77);
                    }
                    
                    .colti {
                        color: #000;
                    }
                    
                    .carousel-inner img {
                        width: 50%;
                        height: 100%;
                        position: relative;
                        left: 250px;
                    }
                    
                    .backgrauncarusel {
                        width: 55%;
                        height: 250%;
                        position: relative;
                        left: 500px;
                    }
                    
                    .carousel-inner2 img {
                        width: 50%;
                        height: 100%;
                        position: relative;
                        left: 250px;
                    }
                    
                    .backgrauncarusel2 {
                        width: 55%;
                        height: 250%;
                        position: relative;
                        left: 500px;
                    }
                    
                    .menu-fixed {
                        position: fixed;
                        z-index: 1000;
                        top: 0;
                        width: 100%;
                        max-width: 100%;
                        box-shadow: rgb(0, 0, 5);
                    }
                    
                    @media screen and (max-width: 600px) {
                        .backgrauncarusel2 {
                            display: none;
                        }
                        .carousel slide {
                            float: right;
                            display: block;
                        }
                    }
                    
                    @media screen and (max-width: 600px) {
                        .topnav.responsive {
                            position: relative;
                        }
                        .topnav.responsive .icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        .topnav.responsive a {
                            float: none;
                            display: block;
                            text-align: left;
                        }
                    }
                    
                    .marco {
                        position: relative;
                        width: 100%;
                        left: 190px;
                        bottom: 145px;
                    }
                    
                    .personajes {
                        position: relative;
                        width: 100%;
                        left: 215px;
                        bottom: -145px;
                    }
=======
/* MENU */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.lgito {
    left: 200px;
}


/* MARCOS */

.bord {
    border: rgb(0, 0, 0) 5px solid;
}

.bordhr {
    border: rgb(0, 0, 0) 3px dashed;
}

.bordmenu {
    border-style: solid;
}

.pepe {
    text-align: center;
}

.ico {
    position: inherit;
    top: 50px;
    right: 70px;
}

.jumbotron {
    padding: 3px 10px;
    border: rgb(0, 0, 0) 5px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-bottom: 40px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.77);
}

.jumbotron1 {
    padding: 3px 10px;
    border: rgb(0, 0, 0) 5px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-bottom: 40px;
    color: inherit;
    background-color: #f5f5f5c5;
}

.jumbotronfinal {
    padding: 3px 10px;
    border: rgb(0, 0, 0) 5px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: inherit;
    width: 100%;
    background-color: rgb(255, 249, 249);
}

.jumbotron0 {
    padding: 3px 10px;
    border: rgb(0, 0, 0) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-bottom: 40px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.77);
}

.jumbotron00 {
    position: relative;
    padding: 50px;
    text-align: center;
    width: 600px;
    border: rgb(0, 0, 0) 5px double;
    color: inherit;
    background-color: rgba(184, 106, 106, 0.822);
}

.jumbotron2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.77);
}

.jumbotron3 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgb(255, 255, 255);
}

.jumbotron4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.77);
}

.colti {
    color: #000;
}


/* CARRUSEL */

.carousel-inner img {
    width: 50%;
    height: 100%;
    position: relative;
    left: 250px;
}

.backgrauncarusel {
    width: 90%;
    height: 100%;
    position: relative;
    left: 20px;
}

.carousel-inner2 img {
    width: 50%;
    height: 100%;
    position: relative;
    left: 250px;
}

.backgrauncarusel2 {
    width: 55%;
    height: 250%;
    position: relative;
    left: 500px;
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: rgb(0, 0, 5);
}

@media screen and (max-width: 600px) {
    .backgrauncarusel2 {
        display: none;
    }
    .carousel slide {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* PERSONAJES */

.marco {
    position: relative;
    width: 100%;
    bottom: 300px;
}

.marco1 {
    position: relative;
    width: ;
    bottom: 420px;
    right: 30px;
}

.personajes1 {
    position: relative;
    width: ;
}

.jumbotronperso {
    border: rgb(0, 0, 0) 5px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 40%;
    height: 700px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.77);
}


/* contact */

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=tel],
select,
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
>>>>>>> Stashed changes
